{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ramen LIST page</h1>
    <ul>
        {% for ramen in ramens %}
            <li>
                id = {{ ramen.id }}
                <br>
                name = {{ ramen.name }} {{ ramen.photo }}
                <br>
                <a href="{{ url('ramen_show', {id : ramen.id} ) }}">(details)</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}