{% extends 'base.html.twig' %}

{% block title %}New Ramen{% endblock %}

{% block body %}

    <h1>Create new Ramen</h1>

    {% include 'ramen/_form.html.twig' with {'form': form} only %}


{% endblock %}